<ion-view title="Your Account" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="yourAccount-list4">
      <ion-item class="item-divider" id="yourAccount-list-item-divider5"> Account</ion-item>
      <ion-item id="yourAccount-list-item16">Carina Blair
        <span class="item-note">Edit Profile</span>
      </ion-item>
      <ion-item id="yourAccount-list-item17">Email
        <span class="item-note">blair.carina@gmail.com</span>
      </ion-item>
      <ion-item id="yourAccount-list-item18">Password
        <span class="item-note">Change Password</span>
      </ion-item>
    </ion-list>
    <ion-list id="yourAccount-list5">
      <ion-item id="yourAccount-list-item22">Preferences
        <span class="item-note">Update Preferences</span>
      </ion-item>
      <ion-item id="yourAccount-list-item23">Location
        <span class="item-note">Change Location</span>
      </ion-item>
    </ion-list>
    <a ui-sref="menu.tangled" id="yourAccount-button9" class="button button-assertive  button-block">Close Account</a>
  </ion-content>
</ion-view>
