<ion-view title="Signup" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="signup-form5" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input5">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input9">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="">
        </label>
        <ion-item class="item-divider" id="signup-list-item-divider3"> </ion-item>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input10">
          <span class="input-label">Confirm Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button14" style="border-radius:100px 100px 100px 100px;" class="button button-royal  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>