<ion-view view-title="Tangled!">
  <ion-content class="home">
    <div class="list card">
      <a href="#" class="item item-icon-right type1">
        <i class="icon ion-android-arrow-dropright"></i>
        Type 1: Straight
      </a>
      <a href="#" class="item item-icon-right type2">
        <i class="icon ion-android-arrow-dropright"></i>
        Type 2: Wavy
      </a>
      <a href="#" class="item item-icon-right type3">
        <i class="icon ion-android-arrow-dropright"></i>
        Type 3: Curly
      </a>
      <a href="#" class="item item-icon-right type4">
        <i class="icon ion-android-arrow-dropright"></i>
        Type 4: Kinky
      </a>
    </div>
  </ion-content>
</ion-view>
